<h1>Instructions</h1>
<ol>
  <li>Make sure you have the student interview page printed and ready for the student to view it.</li>
  <li>Say:  "Please keep your hands above the table. I can learn about your math thinking if I can see when and how you use your fingers to help you."</li>
  <li>Say:  "Look at each equation. All you have to say out loud is the number that goes on each line."</li>
  <li>Say:  "Begin here," (point to the equation at the top of the column on the left) "and go down the column."</li>
  <li>Do not read the equation aloud. If the student reads the equation aloud, remind the student that the only thing to say out loud is the number that goes on the line.</li>
</ol>
