<div class="content">
  {{mf-interview-instructions}}

  <div class="form">
    <p>
      <label>Student's Name:</label>
      {{input type='text' autofocus=true value=studentName enter='startInterview'}}
    </p>
    <p>
      <label for="isExtendedTime" title="Default time is 4 seconds. Extended time is 6 seconds.">Extended Time?</label>
      {{input id="isExtendedTime" type='checkbox' checked=isExtendedTime}}
    </p>
  </div>
  <div class="centered">
    <button {{action 'startInterview'}}>Start Interview &rarr;</button>
  </div>
</div>
