<div class="content home">
  <div class="centered">
    <h1>Select an Operation to Begin</h1>

    <div class="buttons">
      {{#link-to 'interview' 'addition' tagName='button' title='Addition'}}Addition{{/link-to}}
      {{#link-to 'interview' 'subtraction' tagName='button' title='Subtraction'}}Subtraction{{/link-to}}
      {{#link-to 'interview' 'multiplication' tagName='button' title='Multiplication'}}Multiplication{{/link-to}}
      {{#link-to 'interview' 'division' tagName='button' title='Division'}}Division{{/link-to}}
    </div>
  </div>
</div>
