<div class="content home">
  <div class="centered">
    <h1>Select an Operation to Begin</h1>

    <div class="buttons">
      <div>
        <LinkTo @route="interview" @model="addition">Addition</LinkTo>
      </div>
      <div>
        <LinkTo @route="interview" @model="subtraction">Subtraction</LinkTo>
      </div>
      <div>
        <LinkTo @route="interview" @model="multiplication">Multiplication</LinkTo>
      </div>
      <div>
        <LinkTo @route="interview" @model="division">Division</LinkTo>
      </div>
    </div>

    <h3>K-1</h3>
    <div class="buttons">
      <LinkTo @route="interview" @model="addition-c">Addition</LinkTo>
    </div>
  </div>
</div>
